<form>
  <div class="form-group">
  <label>Name</label>
  <input  name="name" [(ngModel)]="carModel.name" required>
  </div>
  <br />

  <div class="form-group">
   <label>Model</label>
  <input name="model" [(ngModel)]="carModel.model" required>
   </div> 
 
   <br />
   <div class="form-group">
    <label>Number</label>
   <input name="number" [(ngModel)]="carModel.number" required>
  
  </div> 

  <br />
  <div class="form-group">

  <label><input type="radio" name="hasSunroof" [(ngModel)]="carModel.hasSunroof" [value]="true">Has sunroof</label>
  <label><input type="radio" name="hasSunroof" [(ngModel)]="carModel.hasSunroof" [value]="false">No sunroof</label>
</div>
  
  
  <br />
  <button type="button" (click)="saveCar()">Save</button>
  <!-- <input  type="submit" value="Save" ng-click="saveCar()"> -->
</form>  


<table class="table">

    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Model</th>
            <th>Number</th>
            <th>Has Sunroof?</th>
        </tr>
    </thead>

   
    <tr *ngFor="let car of cars"> 
        <td>{{ car.id }}</td>
        <td>{{ car.name }}</td>
        <td>{{ car.model }}</td>
        <td>{{ car.number }}</td>

        <td>
            <span *ngIf="car.hasSunroof == true">Yes</span>
            <span *ngIf="car.hasSunroof == false">No</span>
        </td>
       
    </tr>
</table>  

